/*-----------------
    HEADER 
------------------*/

header {
    height: 70px;
}

.ms-search {
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    flex-grow: 1;
}

.fa-bell {
    color: #ff8f00;
}

/*-----------------
    /HEADER
------------------*/

/*-----------------
    APP BODY
------------------*/

.app-body {
    height: calc(100vh - 70px);
    display: flex;
}

.sidebar {
    background-color: #051e34;
    width: 70px;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: violet;
    width: 100%;        
    overflow-y: auto;
}

/*-----------------
    /APP BODY
------------------*/


/*-----------------
      COLORS
-------------------*/


/*-----------------
      /COLORS
-------------------*/

/*-----------------
      COMPONENTS 
 ------------------*/

/*-----------------
      /COMPONENTS 
 ------------------*/