/*-----------------
    HEADER 
------------------*/

header {
    height: 70px;
}

.ms-search {
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    flex-grow: 1;
}

.fa-bell {
    color: #ff8f00;
}

/*-----------------
    /HEADER
------------------*/

/*-----------------
    APP BODY
------------------*/

.ms-app-body {
    height: calc(100vh - 70px);
    display: flex;
}

.ms-sidebar {
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    width: 70px;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .ms-sidebar {
        width: 150px;
    }
}

.ms-ul {
    list-style: none;
}

.ms-main {
    background-color: violet;
    width: 100%;        
    overflow-y: auto;
}

.ms-student {
    background-color: #1b72e8;
    max-height: 260px;
    overflow-y: hidden;
}

@media screen and (min-width: 768px) {
    .ms-student .row {
        flex-direction: row !important;
    }
}

/*-----------------
    /APP BODY
------------------*/


/*-----------------
      COLORS
-------------------*/

.ms-bg-darkblue {
    background-color: #165bba;
}


/*-----------------
      /COLORS
-------------------*/

/*-----------------
      COMPONENTS 
 ------------------*/

/*-----------------
      /COMPONENTS 
 ------------------*/